<div class="relative">
    <div class="flex justify-between">
        <span class="text-yellow-400 text-3xl">What to watch</span>
        <div class="flex flex-row gap-x-1">
            <p class="text-blue-500">Get more recommendations</p>
            <fa-icon class="text-md text-blue-500" [icon]="faCaretRight"></fa-icon>
        </div>
    </div>
    <div class="flex flex-row border-l-4 px-4 gap-x-2 border-yellow-300 mt-6">
        <span class="font-bold text-2xl">Top picks</span>
        <fa-icon class="text-2xl text-yellow-300" [icon]="faCaretRight"></fa-icon>
    </div>
    <p class="text-md text-gray-400 my-3">TV shows and movies just for you</p>
    <div class="grid grid-cols-6 gap-2">
    <div *ngFor="let item of Movies" class="h-auto">
            <img src="{{ item.image }}" class="w-full bg-contain bg-no-repeat bg-center h-[274px] opacity-70 hover:opacity-100 transtion-all duration-300">
            <div class="bg-second p-2">
                <div class=" min-h-[7rem]">
                    <div class="flex flex-row gap-x-2 text-gray-400">
                        <fa-icon class="text-md text-yellow-300" [icon]="faStar"></fa-icon> {{item.imdbRate}}
                    </div>
                    <div class="mt-2">
                        {{item.idx}}.{{item.name.length > 30 ? item.name.slice(0,30) + '...' : item.name }}
                    </div>
                </div>
                <div class="flex flex-col gap-y-2">
                    <div class="bg-gray-500 hover:bg-opacity-40 bg-opacity-30 cursor-pointer text-blue-400 rounded-md p-2 text-xs font-bold text-center">
                        Watch Option
                    </div>
                    <div class="flex flex-row mx-auto">
                        <div class="px-2 hover:bg-gray-500 cursor-pointer inline-block bg-opacity-50 text-white rounded-md p-2 text-xs font-bold text-center">
                            Trailer
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>