<div class="w-full flex px-2 flex justify-between py-1">
  <div class="flex flex-col">
    <div class="text-5xl">
      {{ caster?.name }}
    </div>
    <div class="flex flex-row text-sm gap-x-2 font-light text-gray-400 py-1">
      <span
        *ngFor="let type of caster?.types; let i = index"
        [ngClass]="{
          '': i !== 0,
          'before\:content-\\2022 before\:mr-1': i !== 0
        }"
      >
        {{ type }}
      </span>
    </div>
  </div>
  <div class="flex flex-row gap-x-1 text-xs py-2 text-gray-400 font-semibold">
    <span class="flex flex-col">
      <span class="tracking-wider font-light text-right">IMDbPro</span>
      <span class="font-bold leading-[0.75rem] tracking-[0.2rem] uppercase">
        Starmeter</span
      >
    </span>
    <div class="inline-block">
      <div
        class="flex flex-row gap-x-1 hover:bg-slate-700 transition-all duration-300 px-4 py-1 cursor-pointer rounded-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="ipc-icon ipc-icon--popularity-up sc-d462a8ef-5 cctkAC starmeter-change-direction"
          viewBox="0 0 24 24"
          fill="rgb(103,173,75)"
          role="presentation"
        >
          <path
            d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-2.6 0-5-1.3-6.4-3.3l2.8-3.4 1.3 1.5c.4.4 1 .4 1.3 0l2.9-3.2 1.3 1.4c.3.3.8.1.8-.3V8.5c0-.3-.2-.5-.5-.5h-4c-.4 0-.6.5-.3.8l1.3 1.4-2.2 2.5L9 11.3c-.4-.4-1-.4-1.3 0L4.6 15c-.4-.9-.6-1.9-.6-3 0-4.4 3.6-8 8-8s8 3.6 8 8-3.6 8-8 8z"
          ></path>
        </svg>
        <span class="text-xl text-white">48</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          class="ipc-icon ipc-icon--arrow-drop-up sc-d462a8ef-7 kQYbIm"
          viewBox="0 0 24 24"
          fill="rgb(103,173,75)"
          role="presentation"
        >
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path
            d="M8.71 12.29L11.3 9.7a.996.996 0 0 1 1.41 0l2.59 2.59c.63.63.18 1.71-.71 1.71H9.41c-.89 0-1.33-1.08-.7-1.71z"
          ></path>
        </svg>
        <span class="text-xl">98</span>
      </div>
    </div>
  </div>
</div>
