<div class="relative px-3">
    <span class="text-yellow-400 text-xl font-bold">Up next</span>
    <div class="relative mt-4">
        <div class="grid gird-cols-1 py-4 z-20 gap-y-3">
            <div class="h-[8rem] bg-gradient-to-t from-black via-main to-second w-full h-2/4 z-10 px-4 py-2">
                <div class="grid grid-cols-4 gap-x-3">
                    <div class="col-span-1 h-[140px]">
                        <img class="object-contain bg-contain" src="https://m.media-amazon.com/images/M/MV5BNzIwNGY4YzItNWQ3ZS00ZmUwLTg3NTUtZmZkMWNlNGQ0Y2I2XkEyXkFqcGdeQXVyNzY1ODU1OTk@._V1_QL75_UX280_CR0,0,280,414_.jpg" />
                    </div>
                    <div class="col-span-3 flex flex-col gap-y-2 cursor-pointer">
                        <div class="flex flex-row items-center gap-x-2">
                            <fa-icon class="text-3xl text-white hover:text-yellow-300" [icon]="faPlayCircle"></fa-icon>
                            <span>3:11</span>
                        </div>
                        <div>5 Must-See Sequels and Prequels Coming in 2024</div>
                        <p class="text-xs text-gray-300">Whether it's the next chapter</p>
                    </div>
                </div>
            </div>
            <div class="h-[8rem] px-4 py-2">
                <div class="grid grid-cols-4 gap-x-3">
                    <div class="col-span-1 h-[140px]">
                        <img class="object-contain bg-contain" src="https://m.media-amazon.com/images/M/MV5BNzIwNGY4YzItNWQ3ZS00ZmUwLTg3NTUtZmZkMWNlNGQ0Y2I2XkEyXkFqcGdeQXVyNzY1ODU1OTk@._V1_QL75_UX280_CR0,0,280,414_.jpg" />
                    </div>
                    <div class="col-span-3 flex flex-col gap-y-2 cursor-pointer">
                        <div class="flex flex-row items-center gap-x-2">
                            <fa-icon class="text-3xl text-white hover:text-yellow-300" [icon]="faPlayCircle"></fa-icon>
                            <span>3:11</span>
                        </div>
                        <div>5 Must-See Sequels and Prequels Coming in 2024</div>
                        <p class="text-xs text-gray-300">Whether it's the next chapter</p>
                    </div>
                </div>
            </div>
            <div class="h-[8rem] px-4 py-2">
                <div class="grid grid-cols-4 gap-x-3">
                    <div class="col-span-1 h-[140px]">
                        <img class="object-contain bg-contain" src="https://m.media-amazon.com/images/M/MV5BNzIwNGY4YzItNWQ3ZS00ZmUwLTg3NTUtZmZkMWNlNGQ0Y2I2XkEyXkFqcGdeQXVyNzY1ODU1OTk@._V1_QL75_UX280_CR0,0,280,414_.jpg" />
                    </div>
                    <div class="col-span-3 flex flex-col gap-y-2 cursor-pointer">
                        <div class="flex flex-row items-center gap-x-2">
                            <fa-icon class="text-3xl text-white hover:text-yellow-300" [icon]="faPlayCircle"></fa-icon>
                            <span>3:11</span>
                        </div>
                        <div>5 Must-See Sequels and Prequels Coming in 2024</div>
                        <p class="text-xs text-gray-300">Whether it's the next chapter</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row items-center cursor-pointer group gap-x-1  px-3 py-2">
            <div class="group-hover:text-yellow-300 text-xl font-bold">Browse Trailers</div>
            <fa-icon class="group-hover:text-yellow-300 text-md text-white hover:text-yellow-300" [icon]="faCaretRight"></fa-icon>
        </div>
    </div>
</div>