<div class="relative w-full h-full pb-5">
  <div class="relative max-w-[78rem] h-full mx-auto z-20">
    <div
      (click)="onGoBack()"
      class="z-20 text-yellow-400 hover:bg-black/30 inline-block text-2xl px-2 mb-2 mt-4 gap-x-3 py-1 rounded-md cursor-pointer transition-all duration-300"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Back
    </div>
  </div>
  <div
    class="absolute bg-gradient-to-r from-second to-gray-900 w-full h-full z-10 top-0 left-0 flex justify-center items-center text-center"
  >
    <img
      [src]=""
      class="w-[40rem] h-[40rem] blur-2xl brightness-30 opacity-40"
    />
  </div>
</div>
